Repository sad-cow-png/Shared-Spaces, pull requests merged in 2021-04, with the labels that each got.

#31 Feature/client login
  sadcowpng/sharedspaces/forms.py
  sadcowpng/sharedspaces/models.py
  sadcowpng/sharedspaces/seleniumTest.py
  sadcowpng/sharedspaces/templates/sharedspaces/client_sign_up.html
  sadcowpng/sharedspaces/templates/sharedspaces/signup.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/urls.py
  sadcowpng/sharedspaces/views.py
Labels: Client Stories, Epic-Account

#37 Feature/admin
  sadcowpng/sharedspaces/admin.py
  sadcowpng/sharedspaces/migrations/0001_initial.py
Labels: Dev Stories

#38 Feature/Heroku deployment setup
  .gitignore
  Procfile
  sadcowpng/sadcowpng/settings.py
  sadcowpng/sharedspaces/admin.py
  sadcowpng/sharedspaces/forms.py
  sadcowpng/sharedspaces/templates/sharedspaces/client_sign_up.html
  sadcowpng/sharedspaces/templates/sharedspaces/logout.html
  sadcowpng/sharedspaces/templates/sharedspaces/proprietor_login.html
  sadcowpng/sharedspaces/templates/sharedspaces/proprietor_signup.html
  sadcowpng/sharedspaces/views.py
Labels: Dev Stories

#39 Feature/styling
  sadcowpng/sharedspaces/static/account.css
  sadcowpng/sharedspaces/static/header.css
  sadcowpng/sharedspaces/static/logo2-dark.png
  sadcowpng/sharedspaces/static/main_pages.css
  sadcowpng/sharedspaces/static/signup.css
  sadcowpng/sharedspaces/static/spaces.css
  sadcowpng/sharedspaces/templates/sharedspaces/account.html
  sadcowpng/sharedspaces/templates/sharedspaces/account_header.html
  sadcowpng/sharedspaces/templates/sharedspaces/client_sign_up.html
  sadcowpng/sharedspaces/templates/sharedspaces/create_space.html
  sadcowpng/sharedspaces/templates/sharedspaces/index.html
  sadcowpng/sharedspaces/templates/sharedspaces/login.html
  sadcowpng/sharedspaces/templates/sharedspaces/logout.html
  sadcowpng/sharedspaces/templates/sharedspaces/proprietor_login.html
  sadcowpng/sharedspaces/templates/sharedspaces/proprietor_signup.html
  sadcowpng/sharedspaces/templates/sharedspaces/signup.html
  sadcowpng/sharedspaces/templates/sharedspaces/update_space.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/urls.py
  sadcowpng/sharedspaces/views.py
Labels: Client Stories

#40 Feature/linking spaces
  README.md
  sadcowpng/sharedspaces/decorators.py
  sadcowpng/sharedspaces/models.py
  sadcowpng/sharedspaces/static/account.css
  sadcowpng/sharedspaces/static/spaces.css
  sadcowpng/sharedspaces/templates/sharedspaces/account.html
  sadcowpng/sharedspaces/templates/sharedspaces/login.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/views.py
Labels: Client Stories, Epic-Account

#41 Feature/map
  README.md
  sadcowpng/sadcowpng/settings.py
  sadcowpng/sharedspaces/static/map.css
  sadcowpng/sharedspaces/templates/sharedspaces/index.html
  sadcowpng/sharedspaces/views.py
Labels: Client Stories, Epic-Map

#43 Feature/space date time
  README.md
  sadcowpng/sharedspaces/forms.py
  sadcowpng/sharedspaces/migrations/0002_spacedatetime.py
  sadcowpng/sharedspaces/migrations/0003_auto_20210414_0348.py
  sadcowpng/sharedspaces/migrations/0004_auto_20210415_1315.py
  sadcowpng/sharedspaces/migrations/0005_space_space_owner.py
  sadcowpng/sharedspaces/models.py
  sadcowpng/sharedspaces/static/main_pages.css
  sadcowpng/sharedspaces/templates/sharedspaces/space_date_time.html
  sadcowpng/sharedspaces/templates/sharedspaces/update_space_date_time.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/urls.py
  sadcowpng/sharedspaces/views.py
Labels: Epic-Account-Page, Proprietor Stories

#47 Hotfix/connect user to spaces
  .gitignore
  sadcowpng/sharedspaces/admin.py
  sadcowpng/sharedspaces/static/account.css
  sadcowpng/sharedspaces/static/spaces.css
  sadcowpng/sharedspaces/templates/sharedspaces/account.html
  sadcowpng/sharedspaces/templates/sharedspaces/space_date_time.html
  sadcowpng/sharedspaces/templates/sharedspaces/update_space_date_time.html
  sadcowpng/sharedspaces/views.py
Labels: hotfix

#48 Feature/List Spaces
  README.md
  sadcowpng/sharedspaces/static/spaces.css
  sadcowpng/sharedspaces/templates/sharedspaces/account.html
  sadcowpng/sharedspaces/templates/sharedspaces/date_time.html
  sadcowpng/sharedspaces/templates/sharedspaces/update_space_date_time.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/urls.py
  sadcowpng/sharedspaces/views.py
Labels: Epic-Account-Page, Proprietor Stories

#49 Feature/space reuse
  README.md
  sadcowpng/sharedspaces/forms.py
  sadcowpng/sharedspaces/templates/sharedspaces/date_time.html
  sadcowpng/sharedspaces/templates/sharedspaces/update_space_date_time.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/views.py
Labels: Epic-Account-Page, Proprietor Stories

#50 Feature/space deactivate
  README.md
  sadcowpng/sharedspaces/static/account.css
  sadcowpng/sharedspaces/templates/sharedspaces/account.html
  sadcowpng/sharedspaces/tests.py
Labels: Epic-Account-Page, Proprietor Stories

#51 Feature/reserve space
  README.md
  sadcowpng/sharedspaces/decorators.py
  sadcowpng/sharedspaces/forms.py
  sadcowpng/sharedspaces/models.py
  sadcowpng/sharedspaces/static/main_pages.css
  sadcowpng/sharedspaces/templates/sharedspaces/account.html
  sadcowpng/sharedspaces/templates/sharedspaces/account_header.html
  sadcowpng/sharedspaces/templates/sharedspaces/reserve_space.html
  sadcowpng/sharedspaces/templates/sharedspaces/time_slot_options.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/urls.py
  sadcowpng/sharedspaces/views.py
Labels: Client Stories

#52 Feature/space address
  README.md
  sadcowpng/sharedspaces/forms.py
  sadcowpng/sharedspaces/migrations/0001_initial.py
  sadcowpng/sharedspaces/migrations/0002_spacedatetime.py
  sadcowpng/sharedspaces/migrations/0003_auto_20210414_0348.py
  sadcowpng/sharedspaces/migrations/0004_auto_20210415_1315.py
  sadcowpng/sharedspaces/migrations/0005_space_space_owner.py
  sadcowpng/sharedspaces/models.py
  sadcowpng/sharedspaces/static/account.css
  sadcowpng/sharedspaces/static/spaces.css
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/views.py
Labels: Epic-Account-Page, Proprietor Stories

#54 Feature/tag spaces
  README.md
  requirements.txt
  sadcowpng/sadcowpng/settings.py
  sadcowpng/sharedspaces/forms.py
  sadcowpng/sharedspaces/models.py
  sadcowpng/sharedspaces/static/account.css
  sadcowpng/sharedspaces/static/spaces.css
  sadcowpng/sharedspaces/templates/sharedspaces/account.html
  sadcowpng/sharedspaces/templates/sharedspaces/tagged_spaces.html
  sadcowpng/sharedspaces/tests.py
  sadcowpng/sharedspaces/urls.py
  sadcowpng/sharedspaces/views.py
Labels: Epic-Post, Proprietor Stories

#55 Hotfix/add tag field to models
  sadcowpng/sharedspaces/migrations/0002_space_space_tags.py
  sadcowpng/sharedspaces/models.py
Labels: hotfix

#57 Feature/map expansion
  sadcowpng/sharedspaces/models.py
  sadcowpng/sharedspaces/static/javascript/mapsFunction.js
  sadcowpng/sharedspaces/templates/sharedspaces/index.html
  sadcowpng/sharedspaces/views.py
Labels: Epic-Map
